{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "syntax-async-generators",
    "transform-regenerator",
    "transform-decorators-legacy",
    [
      "react-transform",
      {
        "transforms": [
          {
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }
        ]
      }
    ]
  ]
}
