@import '../login/login.css';

:root {
  --header-height: 3em;
  --header-color: color(red saturation(70%) lightness(60%));
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  height: var(--header-height);
  width: 100%;
}

.header-extension {
  position: absolute;
  left: 0;
  right: 0;
  height: var(--header-height);
  background-color: var(--header-color);
  z-index: -100;
}

.logo {
  color: white;
  font-size: 1.4em;
}

.menu {
  @media (width <= 500px) {
    display: none;
  }

  display: flex;

  & li {
    margin-left: 0.5em;
    color: gray(100%);

    &:hover {
      color: gray(85%);
    }
  }
}
